<div id="output">
  <h2>You live <%= @distance %> miles away.
  Your box is <%= @height %> inches tall, <%= @width %> inches wide, and <%=@length %> inches long.</h2>
  <h1> Here is your quote!</h1>
  <h2> $<%= @quote %> </h2>
</div>
